html{
	background-color: aliceblue;
}
.contenido{
	background-color: aliceblue;
}
.centraLogo {
	background-color: aliceblue;
	padding-left: 15%;
	text-align: center;
}
.logo{
	text-align: center;
}
.texto1{
	font-family: 'Dancing Script', cursive;
	color: #101149;
	text-align: center;
	font-size: 3em;
	padding-right: 90px;
}
.texto2{
	font-family: 'Raleway', sans-serif;
	color: #101149;
	font-size: 1.2em;
}
.color9{
	background-color:aliceblue;
	}
#fondo1{
	background-image: url(img/cocinero.png);
	background-repeat: no-repeat;
}

footer{
	background-color:aliceblue;
}

div h3{
	color:#008080;
	font-family: 'Dancing Script', cursive;
	}	
 div h2{
 	color: #400080;
 	font-family: 'Dancing Script', cursive;
 }

.alto{
	max-height: 500px;
}
/*para centrar los h2*/
 .centra{
	text-align: center;
	
}

.colorfoot{
	background-color: #75B7DB;
}
.inicio{
	padding-top: 20px;
	padding-left: 10%;
}
.pic{
	padding-top: 24px;
}
#tabla{
	margin-left: 60%;
}